*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto Mono', monospace;
	background: url("img/puntitos.png");
}


ul {
 	list-style-type: none;
  	margin: 0;
 	padding: 0;
 	overflow: hidden;
  	background-image: linear-gradient(to right, rgba(80,10,11,0.3), rgba(240,240,240,0.2));
	border:1px solid black;
}

li {
  	float: left;
}

li a {
	margin-top:2px;
	height:67px;
 	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size:20px;
}

li a:hover {
  font-weight: bold;
}

li img{
	margin:4px;
	margin-right: 20px;
	margin-left:4px;
	height:60px;
	border-radius: 40%;
	border:2px solid rgba(240,240,240,0.3);
}


.logo{
	margin:0px;
	padding:0px;
}

.titulo{
	color:white;
	background: rgba(240,240,240,0.2);
	height:130px;
	width: 400px;
  	border:1px solid black;
  	padding:20px;
  	align-self:center;
  	transform: translate(-50%, 0%);
  	left:50%;
  	position:relative;
}

.content{
	display:flex;
	margin-top: 50px;
	left: 50%;
  	position: absolute;
  	transform: translate(-50%, 0%);
  	width:auto;
  	text-align: center;
}

.bloque{
	display:block;
	background:rgba(0,0,0,0.5);
	min-width:600px;
	width:auto;
	height:auto;
	border:1px solid black;
}

.row {
  	display:flex;
}

.column {
  margin:10px;
}

.item{
	display:block;	
	text-decoration:none;
	width:200px;
	height:110px;
	border: 1px solid black;
	margin:50px;
	opacity:0.7;
	background: #ad9b5b;
}

.item:hover{	
	opacity:1;
	border: 2px solid black;
}

.item p{
	margin:5px;
	font-size:20px;
	font-weight:bold;
	padding:40px;
	color: black;
	opacity:1;
	background: #ddd7a8;
}

.item p:hover{
	margin:12px;
	text-shadow: 0 0 8px white, 0 0 4px black;
	opacity:1;
}

/* The Modal (background) */
#myBtn{
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;	  
}
#myBtn:hover{
	background-color: #1ed624; /* Green */
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;	  
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: rgb(202, 30, 30);
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: rgb(255, 0, 0);
	font-size: 32px;
	text-decoration: none;
	cursor: pointer;
  }