*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto Mono', monospace;
	background: url("img/puntitos.png");
}


ul {
 	list-style-type: none;
  	margin: 0;
 	padding: 0;
 	overflow: hidden;
  	background-image: linear-gradient(to right, rgba(80,10,11,0.3), rgba(240,240,240,0.2));
	border:1px solid black;
}

li {
  	float: left;
}

li a {
	margin-top:2px;
	height:67px;
 	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size:20px;
}

li a:hover {
  font-weight: bold;
}

li img{
	margin:4px;
	margin-right: 20px;
	margin-left:4px;
	height:60px;
	border-radius: 40%;
	border:2px solid rgba(240,240,240,0.3);
}


.logo{
	margin:0px;
	padding:0px;
}

.titulo{
	color:white;
	background: rgba(240,240,240,0.2);
	height:130px;
	width: 400px;
  	border:1px solid black;
  	padding:20px;
  	align-self:center;
  	transform: translate(-50%, 0%);
  	left:50%;
  	position:relative;
}

.content{
	display:flex;
	margin-top: 50px;
	left: 50%;
  	position: absolute;
  	transform: translate(-50%, 0%);
  	width:auto;
  	text-align: center;
}

.bloque{
	display:block;
	min-width:600px;
	width:auto;
	height:auto;
}

.row {
  	display:flex;
}

.column {
  margin:10px;
}

.item{
	display:block;	
	text-decoration:none;
	width:200px;
	height:110px;
	border: 1px solid black;
	margin:50px;
	opacity:0.7;
	background: #ad9b5b;
}

.item:hover{	
	opacity:1;
	border: 2px solid black;
}

.item p{
	margin:5px;
	font-size:20px;
	font-weight:bold;
	padding:40px;
	color: black;
	opacity:1;
	background: #ddd7a8;
}

.item p:hover{
	margin:12px;
	text-shadow: 0 0 8px white, 0 0 4px black;
	opacity:1;
}

.login-box {
	width: 520px;
	height: auto;
	background: rgba(80,10,11,0.3);
	color: #fff;
	margin-left: 5%;
	box-sizing: border-box;
	padding: 50px 20px;
	border:1px solid white;
  }

  .login-box input {
	width: 100%;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	height: 40px;
	color: rgb(5, 5, 5);
	font-size: 16px;
  }
  
  .login-box input[type="date"] {
	font-family: sans-serif;
  }

  .login-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background-color: maroon;
	font-size: 18px;
	border-radius: 20px;
	margin-top: 0px;
  }
  
  .login-box input[type="submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
  }
