*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto Mono', monospace;
	background: url("img/puntitos.png");
}


ul {
 	list-style-type: none;
  	margin: 0;
 	padding: 0;
 	overflow: hidden;
  	background-image: linear-gradient(to right, rgba(80,10,11,0.3), rgba(240,240,240,0.2));
	border:1px solid black;
}

li {
  	float: left;
}

li a {
	margin-top:2px;
	height:67px;
 	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size:20px;
}

li a:hover {
  font-weight: bold;
}

li img{
	margin:4px;
	margin-right: 20px;
	margin-left:4px;
	height:60px;
	border-radius: 40%;
	border:2px solid rgba(240,240,240,0.3);
}


.logo{
	margin:0px;
	padding:0px;
}

.titulo{
	color:white;
	background: rgba(240,240,240,0.2);
	height:130px;
	width: 400px;
  	border:1px solid black;
  	padding:20px;
  	align-self:center;
  	transform: translate(-50%, 0%);
  	left:50%;
  	position:relative;
}

.content{
	margin-top: 20px;
  	width:auto;
  	text-align: center;
	height:auto;
	padding:inherit;
}

.bloque{
	display:block;
	position:relative;
	background:rgba(0,0,0,0.5);
	min-width:690px;
	width:auto;
	height:auto;
	border:1px solid black;
	margin-bottom:50px;
	margin-top:30px;
}

.item p{
	margin:5px;
	font-size:20px;
	font-weight:bold;
	padding:40px;
	color: black;
	opacity:1;
	background: #ddd7a8;
}

.item p:hover{
	margin:12px;
	text-shadow: 0 0 8px white, 0 0 4px black;
	opacity:1;
}

.btn{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display:block;
	background-color:white;
	margin:auto; 
	border:7px inset rgb(92, 120, 211);
	height:120px;
	overflow:auto;
	width: 70%;
	max-width:600px;
	font-weight:bolder;
	padding:15px;
	word-wrap: break-word;
	font-size:19px;
	color:black;
	margin-bottom:25px;
	text-decoration:none;
}

.btn:hover{
	background:url("img/editar.png");
	border:7px groove green;
	text-decoration-line: underline;
	cursor:pointer;
}

  /* Cosas de pagina-Comentario */

#comentario{
		font-size:20px;
		font-weight:bold;
		word-wrap: break-word;
		
	}
	.prueba{
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		display:block;
		background-color:white;
		margin:auto; 
		border:7px inset rgba(74, 90, 161, 0.465);
		height:120px;
		overflow:auto;
		width: 70%;
		max-width:600px;
		font-weight:bold;
		padding:15px;
		word-wrap: break-word;
		font-size:17px;
		color:black;
		margin-bottom:25px;
	}

	.comentarioEliminar{
		text-decoration: none!important;
		font-weight: bold;
		color:darkred;
	}
	.comentarioEliminar:hover{
		font-size: 16px;
		color:red;
	}

	

	
